.Loading {
  height: 100px;
  background-color: grey
}

.Bar {
  height: 50px;
  background-color: rgb(244, 137, 215);
  animation: progress 3s ease-in-out infinite;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
